<template>
<ThreeColsView :cols="3" v-if="isAlbumFetched">
  <template v-slot:main-left>
    <div class="preview-container">
      <AlbumCover :album="album"></AlbumCover>
    </div>
  </template>
  <template v-slot:main-right>
    <div class="editor-container">
      <div class="textarea-box">
        <transition name="title" appear>
          <textarea class="textarea noto-serif" placeholder="タイトル..." v-model="album.title"></textarea>
        </transition>
      </div>
      <div class="bg-chooser-box">
        <ImageChooser album-mode placeholder="[背景画像]" @choosed="onChoosed"></ImageChooser>
      </div>
      <div class="bg-opacity-box">
        <VueSlider :tooltip-style="{'background-color': '#ababab'}" :dot-style="{'background-color': '#ababab', 'box-shadow': 'none', 'border-color': '#ababab'}" :process-style="{background: '#ababab'}" v-model="sliderValue" v-bind="sliderOptions"></VueSlider>
      </div>
    </div>
  </template>
  <template v-slot:sidebar>
    <VerticalButton button-text="保存" @click="save"></VerticalButton>
    <VerticalButton v-if="mode !== 'new'" button-text="削除" not-primary @click="isDeleteWarningShown = true"></VerticalButton>
    <VerticalButton button-text="キャンセル" not-primary @click="$router.back()"></VerticalButton>
    <Modal v-if="isFileTypeErrorShown" @click="isFileTypeErrorShown = ! isFileTypeErrorShown">
      <template v-slot:center>
        <div class="vertical-text message" v-html="toVTextHtml('*画像ファイル(jpeg/png/gif)を選択して下さい。')"></div>
      </template>
    </Modal>
    <Modal v-if="isTitleBlank" @click="isTitleBlank = ! isTitleBlank">
      <template v-slot:center>
        <div class="vertical-text message">※タイトルは空白にはできません。</div>
      </template>
    </Modal>
    <Modal v-if="errorOnFetchAlbum" @click="$router.back()">
      <template v-slot:center>
        <div class="vertical-text message">※アルバム情報が壊れているため、<br>&nbsp;&nbsp;前の画面に戻ります。</div>
      </template>
    </Modal>
    <Modal v-if="isDeleteWarningShown">
      <template v-slot:right>
        <div class="vertical-text message">警告：アルバムを削除すると、<br>&nbsp;登録したページも全て削除されます。<br><br>&nbsp;&nbsp;このアルバムを削除しますか？</div>
      </template>
      <template v-slot:center>
        <VerticalButton button-text="キャンセル" @click="isDeleteWarningShown = ! isDeleteWarningShown"></VerticalButton>
      </template>
      <template v-slot:left>
        <VerticalButton button-text="削除" @click="deleteAlbum"></VerticalButton>
      </template>
    </Modal>
  </template>
</ThreeColsView>
</template>

<style scoped>
.preview-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor-container {
  display: grid;
  grid-template-rows: 35% 50% 15%;
  grid-template-columns: 100%;
  height: 100%;
  width: 100%;
}
.textarea-box {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textarea {
  width: 100%;
  height: 100%;
  overflow: scroll;
  resize: none;
  border-color: #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}
.bg-chooser-box {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-opacity-box {
  grid-row: 3/4;
  grid-column: 1/2;
  align-self: center;
}
.bg-opacity-box >>> .vue-slider-dot-handle:focus {
  outline: none;
}
.textarea:focus {
  outline: none;
}
.textarea::placeholder {
  color: lightgray;
  font-size: 1em;
}
.message {
  width: auto;
  margin: 0 !important;
  display: flex;
  justify-content: center;
}
</style>

<script>
import Album from '@/class/Album.js'

import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/antd.css'

import AlbumCover from '@/components/album-cover.vue'
import ImageChooser from '@/components/image-chooser.vue'

export default {
  created() {
    if(this.mode === 'new') return
    this.$db.getAlbum(this.albumId).then(album => {
      if(album == null) {
        this.errorOnFetchAlbum = true
      } else {
        this.album = new Album(album)
        this.sliderValue = this.album.backgroundOpacity * 100
      }
      this.isAlbumFetched = true
    })
  },
  components: {
    VueSlider,
    AlbumCover,
    ImageChooser,
  },
  props: {
    mode: {
      type: String,
      required: true,
      default: 'new',
      validator: (value) => ['new', 'edit'].includes(value)
    },
    albumId: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      sliderValue: 0,
      sliderOptions: {
        dotSize: 14,
        min: 0,
        max: 100,
        interval: 1,
      },
      isTitleBlank: false,
      errorOnFetchAlbum: false,
      isFileTypeErrorShown: false,
      isDeleteWarningShown: false,
      isAlbumFetched: this.mode === 'new',
      album: new Album(),
      // docId: null
    }
  },
  watch: {
    sliderValue: function(val) {
      if(typeof val === 'number')
        this.album.backgroundOpacity = val / 100
    }
  },
  methods: {
    onChoosed(value) {
      if(value == null || value === {}){
        console.log(`Returned image is empty.`)
      } else if(value === false) {
        console.log(`Returned image is not in a valid image format.`)
        this.isFileTypeErrorShown = true
      } else {
        console.log(`Image has been set to: ${value}`)
        this.album.backgroundImage = value
      }
    },
    save(){
      if( ! this.album.title) {
        this.isTitleBlank = true
        return
      }

      if(this.mode === 'new') {
        this.$db.addAlbum(this.album)
        .then(newAlbumId => {
          console.log(`Successfully added new album!: ${JSON.stringify(newAlbumId)}`)

          // const newPage = new Page()
          // newPage.albumId = newAlbumId
          // this.$db.putPage(newPage)
          // .then(() => {
          //   console.log(`Automatically added blank Page for the new album!`)
          // })
          // .catch(error => {
          //   console.log(`Error on automatically adding blank page for the new album.¥nBut go ahead anyways.`);
          // })
          // .finally(() => this.$router.push(`/album/list`))
          
          this.$router.push(`/album/list`)
        }).catch(error => {
          console.log(`Error on addAlbum: ${JSON.stringify(error)}`)
        })
      } else {
        this.$db.updateAlbum(this.album)
        .then(() => {
          console.log(`successfully updated album with albumId '${this.album.albumId}'`)
          this.$router.push('/album/list')
        }).catch(error => {
          console.log(`Error on updateAlbum: ${JSON.stringify(error)}`)
        })
      }
    },
    hideMessage() {
      this.isTitleBlank = false
    },
    deleteAlbum() {
      this.$db.deleteAlbum(this.albumId).then(() => {
        console.log(`successfully deleted album: albumId === ${this.albumId}`)
        this.$router.push('/album/list')
      }).catch(error => {
        console.log(`Error on deleting album: ${JSON.stringify(error)}`)
      })
    }
  }
}
</script>