<template>
<div>
  <ThreeColsView :cols="2" :class="{blur: isModalShown}">
    <template v-slot:main>
      <div class="horizontal-scroll preview-container">
        <template v-if="isFetched">
          <template v-for="album in albums">
            <AlbumCover :key="album.albumId" :album="album" @click="selectedAlbumId = album.albumId"></AlbumCover>
            <Modal v-if="selectedAlbumId" :key="`modal-${album.albumId}`" @click="selectedAlbumId = null">
              <template v-slot:left>
                <VerticalButton button-text="スライドショー" @click="$router.push(`/album/${selectedAlbumId}/slideshow`)"></VerticalButton>
              </template>
              <template v-slot:center>
                <VerticalButton button-text="ページの編集" @click="$router.push(`/album/${selectedAlbumId}/page/list`)"></VerticalButton>
              </template>
              <template v-slot:right>
                <VerticalButton button-text="表紙の設定" @click="$router.push(`/album/${selectedAlbumId}/edit`)"></VerticalButton>
              </template>
            </Modal>
          </template>
        </template>
        <AlbumCover class="blank-album" :album="blankAlbum" @click="newAlbum"></AlbumCover>
      </div>
    </template>
    <template v-slot:sidebar>
      <VerticalButton button-text="新規アルバム" @click="newAlbum"></VerticalButton>
      <VerticalButton button-text="設定" not-primary @click="$router.push('/settings')"></VerticalButton>
      <ReachedLimitWarning v-model="isReachedLimit" />
    </template>
  </ThreeColsView>
</div>
</template>

<style scoped>
.card-size {
  height: 60vh;
  width: 30vw;
}
.preview-container > * {
  margin-left: 8px;
}
.blur {
  filter: blur(2px);
  -webkit-filter: blur(px);
  transition: filter 1s ease;
}
.buttons {
  justify-self: center;
  align-self: center;
}
.blank-album {
  position: relative;
}
.blank-album::after {
  position: absolute;
  top: 0;
  right: 100%;
  width: 1em;
  height: 1em;
  content: '';
}
</style>

<script>
import TextView from '@/components/text-view.vue'
import AlbumCover from '@/components/album-cover.vue'
import ReachedLimitWarning from '@/components/reached-limit-warning.vue'

export default {
  components: {
    TextView,
    AlbumCover,
    ReachedLimitWarning,
  },
  created() {
    this.$db.getAlbums().then(albums => {
      this.albums = albums
      this.isFetched = true
    })
  },
  data() {
    return {
      albums: [],
      isFetched: false,
      isModalShown: false,
      isReachedLimit: false,
      blankAlbum: {
        title: '+',
        background: ''
      },
      selectedAlbumId: null
    }
  },
  methods: {
    newAlbum() {
      if( ! this.$store.getters.entitled && this.albums.length >= this.$store.getters.limit.maxAlbums) {
        this.isReachedLimit = true
        return
      }
      this.$router.push('/album/new')
    },
    settings() {

    },
  }
}
</script>