<template>
<ThreeColsView :cols="3">
  <template v-slot:main-left>
    <div ref="preview-container" class="preview-container">
      <Cinema :style="{height: previewHeight}">
        <CropperPreview class="img-preview" :image="result.image" :coordinates="result.coordinates"></CropperPreview>
      </Cinema>
    </div>
  </template>
  <template v-slot:main-right>
    <div ref="rightContainer" class="right-container">
      <div v-show=" ! isFileChoosed" class="chooser-box">
        <ImageChooser ref="image-chooser" class="chooser" @choosed="onChoosed"></ImageChooser>
        <Modal v-if="isFileTypeErrorShown" @click="isFileTypeErrorShown = ! isFileTypeErrorShown">
          <template v-slot:center>
            <div class="vertical-text">※エラー<br>&nbsp;jpeg/png/gif形式の<br>&nbsp;ファイルを選択して下さい。</div>
          </template>
        </Modal>
      </div>
      <div v-if="isAdjusted && isFileChoosed" class="cropper-box">
        <Cropper ref="cropper" class="image" :style="{'max-width': adjustedWidth}" :debounce="false" defaultBoundaries="fill" :stencil-props="{ aspectRatio: resultImageAspectRatio}" @change="onChange" :src="originalImageUrl" />
      </div>
    </div>
  </template>
  <template v-slot:sidebar>
    <VerticalButton button-text="キャンセル" @click="$router.back()"></VerticalButton>
    <VerticalButton v-if="isFileChoosed" button-text="写真の変更" not-primary @click="$refs['image-chooser'].$emit('replace')"></VerticalButton>
    <VerticalButton button-text="保存" not-primary @click="crop"></VerticalButton>
  </template>
</ThreeColsView>
</template>

<style scoped>
.right-container {
  height: 100%;
}
.chooser-box {
  /* margin: 20px 0 20px 20px; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chooser {
  margin-left: 20px;
  width: 60vh;
  height: 60vh;
}
.cropper-box {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.image {
  height: 100%;
}
.img-preview {
  width: 100%;
}
.preview-container {
  height: 100%;
  display: flex;
  align-items: center;
}
</style>

<script>
import Page from '@/class/Page.js'

import Cinema from '@/components/cinema.vue'
import ImageChooser from '@/components/image-chooser.vue'
import { Cropper, Preview as CropperPreview } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css';

export default {
  async created() {
    this.page = await this.$db.getTemporalPage() ?? new Page()

    if(this.page.imageArrayBuffer) {
      const blob = new Blob([this.page.imageArrayBuffer], {type: this.page.imageType})
      this.originalImageUrl = URL.createObjectURL(blob)
    } else {
      this.originalImageUrl = ""
    }

    if(this.originalImageUrl) {
      this.$store.commit('pushObjectURL', this.originalImageUrl)
    }
  },
  mounted() {
    // Calculate aspect ratio inside half of letter-box.
    this.resultImageAspectRatio = (window.innerWidth * 1/2 ) / (window.innerHeight * 0.88)
    const windowAspectRatio = window.innerWidth / window.innerHeight
    const previewWidth = this.$refs['preview-container'].clientWidth
    this.previewHeight = `${previewWidth * 2 / windowAspectRatio}px`
    this.previewWidth = `${previewWidth}px`

    // Margin and 'width: 100%' doesn't work, so need to specify width in px
    this.adjustedWidth = `${this.$refs.rightContainer.clientWidth - 10}px`
    this.isAdjusted = true
  },
  components: {
    Cinema,
    ImageChooser,
    Cropper,
    CropperPreview
  },
  data() {
    return {
      isAdjusted: false,
      isFileTypeErrorShown: false,
      adjustedWidth: '100%',
      resultImageAspectRatio: 1.5,
      previewWidth: '100%',
      previewHeight: '88%',
      originalImageUrl: null,
      result: {
        coordinates: null,
        image: null
      },
      page: null
    }
  },
  computed: {
    isFileChoosed: function() {
      return this.originalImageUrl != null
          && this.originalImageUrl !== ''
    }
  },
  methods: {
    onChoosed(image) {
      if(image == null){
        console.log(`Returned image is empty.`)
      } else if(image === false) {
        console.log(`Returned image is not in a valid image format.`)
      } else {
        console.log(`Image has been set to: ${image}`)
        this.originalImageUrl = URL.createObjectURL(image)
        this.$store.commit('pushObjectURL', this.originalImageUrl)
      }
    },
    onChange({coordinates, image}) {
			this.result = {
				coordinates,
				image
			}
    },
    crop() {
      const canvas = this.$refs.cropper.getResult().canvas
      canvas.toBlob(async blob => {
        this.page.imageArrayBuffer = await blob?.arrayBuffer() ?? null
        this.page.imageType = blob.type
        await this.$db.putTemporalPage(this.page)
        this.$router.back()
      })
    },
  }
}
</script>