<template>
<ThreeColsView :cols="2">
  <template v-slot:main>
    <div class="horizontal-scroll">
      <template v-if="isPagesFetched">
        <template v-for="(page, index) in pages">
          <div :key="index" class="card-size border-0" @click="beforeNext(page)">
            <Preview class="custom-preview" :page="page"></Preview>
          </div>
        </template>
      </template>
      <AlbumCover class="new-page" :album="{title: '+'}" @click="beforeNext()"></AlbumCover>
    </div>
  </template>
  <template v-slot:sidebar>
    <VerticalButton button-text="新規" @click="beforeNext()"></VerticalButton>
    <VerticalButton button-text="スライドショー" not-primary @click="$router.push(`/album/${albumId}/slideshow`)"></VerticalButton>
    <VerticalButton button-text="アルバム一覧へ" not-primary @click="$router.push(`/album/list`)"></VerticalButton>
    <ReachedLimitWarning v-model="isReachedLimit" />

    <Modal v-if="temporalPageIsFor != null">
      <template v-slot:right>
        <VerticalButton button-text="編集を再開する" @click="resume()"></VerticalButton>
        <div class="vertical-text">編集を再開しますか？<br><br><br><br></div>
        <div class="vertical-text">※警告<br><br>保存が完了していない、<br>編集中のページがあります。<br><br></div>
      </template>
      <template v-slot:center>
        <VerticalButton button-text="変更内容を破棄する" @click="discard()"></VerticalButton>
      </template>
      <template v-slot:left>
        <VerticalButton button-text="何もしない" @click="temporalPageIsFor = null"></VerticalButton>
      </template>
    </Modal>

    <Modal v-if="temporalPageDeletion != null" @click="temporalPageDeletion = null">
      <template v-slot:center>
        <div class="vertical-text" v-html="chooseMessage()">
        </div>
      </template>
    </Modal>
  </template>
</ThreeColsView>
</template>

<style scoped>
.card-size {
  height: 80vh;
  width: calc(80vw - var(--safe-area-inset-right));
  direction: ltr;
  margin-left:10px;
}
.new-page {
  position: relative;
  height: 80vh;
  width: 80vh;
  margin-left: 50px;
}
.new-page::after {
  position: absolute;
  top: 0;
  right: 100%;
  width: 1em;
  height: 1em;
  content: '';
}
.custom-preview {
  transform: scale(0.8);
  transform-origin: -1% 0%;
}
</style>

<script>
import Page from '@/class/Page.js'
import AlbumCover from '@/components/album-cover.vue'
import Preview from '@/components/preview.vue'
import ReachedLimitWarning from '@/components/reached-limit-warning.vue'
import Modal from '@/components/modal.vue'

export default {
  created() {
    this.$db.getPages(this.albumId).then(pages => {
      this.pages = pages.map(page => new Page(page))
      this.isPagesFetched = true
    })
  },
  components: {
    AlbumCover,
    Preview,
    ReachedLimitWarning,
    Modal,
  },
  props: {
    albumId: String
  },
  data() {
    return {
      pages: [],
      isPagesFetched: false,
      isReachedLimit: false,
      temporalPageIsFor: null,
      temporalPageDeletion: null,
    }
  },
  methods: {
    async beforeNext(page) {
      const temporal = await this.$db.getTemporalPage()
      console.log(page);
      console.log(new Page(temporal));
      if(temporal != null && page.isEqual(new Page(temporal))) {
        // Do nothing...
      } else if(temporal != null && temporal.albumId === this.albumId) {
        console.log(`# temporal is for this album`);
        this.temporalPageIsFor = "this-album"
        return
      } else if(temporal != null && temporal.albumId !== this.albumId) {
        console.log(`# temporal is for other album`);
        this.temporalPageIsFor = "other-album"
        return
      }

      page == null ? this.newPage() : this.edit(page)
    },
    async newPage() {
      if( ! this.$store.getters.entitled && this.pages.length >= this.$store.getters.limit.maxPages) {
        this.isReachedLimit = true
        return
      }
      const page = new Page()
      page.albumId = parseInt(this.albumId)
      await this.$db.putTemporalPage(page)
      this.$router.push(`/album/${this.albumId}/page/new`)
    },
    async edit(page) {
      await this.$db.putTemporalPage(page)
      this.$router.push(`/album/${this.albumId}/page/${page.pageId}`)
    },
    async resume() {
      const temporal = await this.$db.getTemporalPage()
      this.$router.push(`/album/${temporal.albumId}/page/${temporal.pageId}`)
    },
    discard() {
      this.$db.deleteTemporalPage()
      .then(() => {
        this.temporalPageIsFor = null
        this.temporalPageDeletion = "succeeded"
      })
      .catch(() =>  {
        this.temporalPageIsFor = null
        this.temporalPageDeletion = "failed"
      })
    },
    chooseMessage() {
      return this.temporalPageDeletion === "succeeded"
            ? `未保存だったページの<br>&nbsp;削除が完了しました。`
            : this.temporalPageDeletion === "failed"
            ? `${this.toVTextHtml("<警告>")}<br>&nbsp;未保存だったページの<br>&nbsp;&nbsp;削除に失敗しました。`
            : `${this.toVTextHtml("<警告>")}<br>&nbsp;予期しないエラーが<br>&nbsp;&nbsp;発生しました。`
    }
  }
}
</script>