<template>
<ThreeColsView v-if="isPageFetched" :cols="2">
  <template v-slot:main>
    <div ref="previewWrapper">
      <Preview
        :key="Date.now()"
        :style="previewStyle"
        :page="page"
        @click-image="$router.push(`/album/${albumId}/page/${page.pageId ? page.pageId : mode}/image`)"
        @click-text="$router.push(`/album/${albumId}/page/${page.pageId ? page.pageId : mode}/text`)"
      ></Preview>
    </div>
  </template>
  <template v-slot:sidebar>
    <VerticalButton buttonText="戻る" @click="goBack"></VerticalButton>
    <VerticalButton v-if="mode !== 'new'" buttonText="削除" not-primary @click="isDeleteWarningShown = true"></VerticalButton>
    <VerticalButton buttonText="左右を反転" not-primary @click="reverse"></VerticalButton>
    <VerticalButton buttonText="保存" not-primary @click="save"></VerticalButton>
    <Modal v-if="isDeleteWarningShown">
      <template v-slot:right>
        <div class="vertical-text message">ページを削除します。<br>&nbsp;※この操作は元に戻せません。<br>&nbsp;&nbsp;続行しますか？</div>
      </template>
      <template v-slot:center>
        <VerticalButton buttonText="いいえ" @click="isDeleteWarningShown = false"></VerticalButton>
      </template>
      <template v-slot:left>
        <VerticalButton buttonText="はい" @click="deletePage"></VerticalButton>
      </template>
    </Modal>
    <Modal v-if="isGoBackConfirmationShown">
      <template v-slot:right>
        <div class="vertical-text message">ページの内容が変更されています。<br><br>変更を破棄してもよろしいですか？</div>
      </template>
      <template v-slot:center>
        <VerticalButton buttonText="いいえ" @click="isGoBackConfirmationShown = false"></VerticalButton>
      </template>
      <template v-slot:left>
        <VerticalButton buttonText="はい" @click="forceGoBack"></VerticalButton>
      </template>
    </Modal>
  </template>
</ThreeColsView>
</template>

<style>
.message {
  margin-top: 2em !important;
}
</style>

<script>
import Page from '@/class/Page.js'
import Preview from '@/components/preview.vue'

export default {
  async mounted() {
    await this.$db.getTemporalPage().then(page => {
      this.page = page == null ? new Page() : new Page(page)
      this.isPageFetched = true
    })
    const wrapperWidth = this.$refs.previewWrapper.clientWidth
    const windowWidth = window.innerWidth
    this.previewStyle.transform = `scale(${Math.floor(wrapperWidth / windowWidth * 100) / 100})`
  },
  components: {
    Preview,
  },
  props: {
    albumId: String,
    mode: String
  },
  data() {
    return {
      page: null,
      isPageFetched: false,
      isDeleteWarningShown: false,
      isGoBackConfirmationShown: false,
      previewStyle: {
        width: 'calc(100vw - var(--safe-area-inset-right) - var(--safe-area-inset-left))',
        height: '100vh',
        transform: "scale(0.8)",
        transformOrigin: "0% 50%",
      }
    }
  },
  methods: {
    async goBack() {
      let pageOrig
      if(this.mode === 'new') {
        pageOrig = new Page()
        pageOrig.albumId = parseInt(this.albumId)
      } else {
        pageOrig = new Page(await this.$db.getPage(parseInt(this.page.pageId)))
      }

      if( ! this.page.isEqual(pageOrig)) {
        this.isGoBackConfirmationShown = true
        return
      }
      await this.$db.deleteTemporalPage()
      this.$router.push(`/album/${this.albumId}/page/list`)
    },
    async forceGoBack() {
      await this.$db.deleteTemporalPage()
      this.$router.push(`/album/${this.albumId}/page/list`)
    },
    deletePage() {
      this.$db.deletePage(this.page.pageId).then(result => {
        console.log(`Successfully delete page! Result: ${result}`);
        this.$router.push(`/album/${this.albumId}/page/list`)
      })
    },
    async reverse() {
      this.page.reversed = ! this.page.reversed
      this.$db.putTemporalPage(this.page)
    },
    save() {
      this.$db.putPage(this.page).then(result => {
        console.log(`Successfully put page! Result: ${result}`);
        this.$router.push(`/album/${this.albumId}/page/list`)
      }).catch(error => {
        console.log(`Error on put data: ${JSON.stringify(error)}`);
      })
    },
  }
}
</script>