<template>
<ThreeColsView :cols="2">
  <template slot="sidebar">
    <VerticalButton button-text="戻る" @click="$router.back()"/>
  </template>
  <template slot="main">
    <div class="main remarks">
      <div style="display: flex;">
        <div class="vertical-text" v-html="toVTextHtml('&lt;現在ご利用のプラン&gt;')"></div>
        <div class="blank-space"></div>
        <div class="vertical-text current-plan" :class="{'entitled': $store.getters.entitled}">{{$store.getters.currentPlan}}</div>
      </div>
      <div>
        <div class="vertical-text fix-unintentional-wordorderchange">※プレミアムプランでは、<br>アルバム数・ページ数の<br>制限がなくなります。</div>
        <div class="blank-space"></div>
        <div class="blank-space"></div>
      </div>
      <VerticalButton v-if="$store.getters.entitled" button-text="プレミアムプランを解約する" @click="unsubscribe"></VerticalButton>
      <VerticalButton v-else button-text="プレミアムプランを購入する" @click="subscribe"></VerticalButton>
      <VerticalButton button-text="ご意見・ご要望など" @click="mailTo"></VerticalButton>
      <div style="position: absolute; bottom: 10px; left: calc(20px + var(--safe-area-inset-left)); z-index: 1000; color: lightgray; font-size: 0.6em;">ver. {{version}}</div>
    </div>
    <Modal v-if="isProcessing">
      <template v-slot:center>
        <div class="dot-spin"></div>
      </template>
    </Modal>
  </template>
</ThreeColsView>
</template>

<style scoped>
.main {
  direction: rtl;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(5, 1fr) max-content;
}

.main div {
  text-align: left;
}
.fix-unintentional-wordorderchange {
  unicode-bidi: plaintext;
}

.sidebar {
  grid-column: -2 / -1;
}
.current-plan{
  margin-top: 8%;
}
.blank-space {
  height: 100%;
  width: 1em;
}
.remarks {
  margin-top: 3em;
  text-align: end !important;
}
.entitled {
  background-image: linear-gradient(180deg, #f14d918f,#f5ff2f8f 60%, white);
  background-repeat: no-repeat;
  background-size: 0.2em 8em;
  background-position-x: right;
  transition: background-size 0.5s ease-in-out, background-image 0.5s ease-in-out;
}
.dot-spin {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: transparent;
    box-shadow: 0 -18px 0 0 #e3e9eb, 12.72793px -12.72793px 0 0 #e3e9eb, 18px 0 0 0 #e3e9eb, 12.72793px 12.72793px 0 0 rgba(152, 128, 255, 0), 0 18px 0 0 rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 0 rgba(152, 128, 255, 0), -18px 0 0 0 rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 0 rgba(152, 128, 255, 0);
    -webkit-animation: dot-spin 1.5s infinite linear;
    animation: dot-spin 1.5s infinite linear;
}

@-webkit-keyframes dot-spin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #e3e9eb, 12.72793px -12.72793px 0 0 #e3e9eb, 18px 0 0 0 #e3e9eb, 12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72793px -12.72793px 0 0 #e3e9eb, 18px 0 0 0 #e3e9eb, 12.72793px 12.72793px 0 0 #e3e9eb, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #e3e9eb, 12.72793px 12.72793px 0 0 #e3e9eb, 0 18px 0 0 #e3e9eb, -12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72793px 12.72793px 0 0 #e3e9eb, 0 18px 0 0 #e3e9eb, -12.72793px 12.72793px 0 0 #e3e9eb, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #e3e9eb, -12.72793px 12.72793px 0 0 #e3e9eb, -18px 0 0 0 #e3e9eb, -12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 0 #e3e9eb, -18px 0 0 0 #e3e9eb, -12.72793px -12.72793px 0 0 #e3e9eb;
  }
  75% {
    box-shadow: 0 -18px 0 0 #e3e9eb, 12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #e3e9eb, -12.72793px -12.72793px 0 0 #e3e9eb;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #e3e9eb, 12.72793px -12.72793px 0 0 #e3e9eb, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 0 #e3e9eb;
  }
}

@keyframes dot-spin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #e3e9eb, 12.72793px -12.72793px 0 0 #e3e9eb, 18px 0 0 0 #e3e9eb, 12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72793px -12.72793px 0 0 #e3e9eb, 18px 0 0 0 #e3e9eb, 12.72793px 12.72793px 0 0 #e3e9eb, 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #e3e9eb, 12.72793px 12.72793px 0 0 #e3e9eb, 0 18px 0 0 #e3e9eb, -12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72793px 12.72793px 0 0 #e3e9eb, 0 18px 0 0 #e3e9eb, -12.72793px 12.72793px 0 0 #e3e9eb, -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #e3e9eb, -12.72793px 12.72793px 0 0 #e3e9eb, -18px 0 0 0 #e3e9eb, -12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0), 12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 0 #e3e9eb, -18px 0 0 0 #e3e9eb, -12.72793px -12.72793px 0 0 #e3e9eb;
  }
  75% {
    box-shadow: 0 -18px 0 0 #e3e9eb, 12.72793px -12.72793px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #e3e9eb, -12.72793px -12.72793px 0 0 #e3e9eb;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #e3e9eb, 12.72793px -12.72793px 0 0 #e3e9eb, 18px 0 0 -5px rgba(152, 128, 255, 0), 12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 -5px rgba(152, 128, 255, 0), -12.72793px 12.72793px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72793px -12.72793px 0 0 #e3e9eb;
  }
}
</style>

<script>
import ThreeColsView from '@/components/three-cols-view.vue'
import Sidebar from '@/components/sidebar.vue'
import VerticalButton from '@/components/vertical-button.vue'
import Modal from '@/components/modal.vue'

import { Capacitor } from '@capacitor/core'
import { Browser } from '@capacitor/browser'

export default {
  components: {
    ThreeColsView,
    Sidebar,
    VerticalButton,
    Modal,
  },
  data() {
    return {
      version: process.env.VERSION ?? "0.0.0",
      isProcessing: false
    }
  },
  computed: {
    isEntitledPremiumPlan() {
      return this.checkEntitlementStatus()
    }
  },
  methods: {
    mailTo() {
      window.location.href="mailto:tategaki.app@gmail.com"
    },
    async subscribe() {
      this.isProcessing = true
      await this.$nextTick().then(() =>
        this._subscribeImpl().finally(() =>
          this.isProcessing = false
        )
      )
    },
    async _subscribeImpl() {
      try {
        await this.$purchases.purchaseProduct("subscription_monthly_50yen").then(offerings => {
          this.$purchases.getPurchaserInfo().then(purchaserInfo => {
            const isActive = !! purchaserInfo.entitlements.active?.premium_purchased.isActive
            this.$store.commit("changeEntitlementStatus", isActive)
            console.log(`Entitlement renewed!!! isActive now => ${isActive}`);
          })
        })
        .catch(e => {
          alert(`原因不明のエラーが発生したため、支払いを中止しました。`)
        })
      } catch (e) {
        console.log(e);
      }
    },
    async unsubscribe() {
      this.isConfirming = true
      if(Capacitor.getPlatform() === "ios") {
        if(confirm("注意：アプリ内では解約できません。解約方法の解説ページを確認しますか？")) {
          Browser.open({url: "https://support.apple.com/ja-jp/HT202039"})
        }
      }
    },
  },
}
</script>