<template>
<div ref="slider" class="keen-slider slider" @click="isOverlayShown = ! isOverlayShown">
  <Modal v-if="isPagesEmpty" @click="$router.back()">
    <template v-slot:center>
      <div class="vertical-text noto-serif">※保存されたページがありません。<br>&nbsp;前の画面に戻ります。</div>
    </template>
  </Modal>
  <template v-for="page of pages">
    <Preview :key="`${page.pageId}`" class="keen-slider__slide" mode="slideshow" :page="page"></Preview>
    <transition :key="`${page.pageId}-ol`" appear name="overlay">
      <div v-if="isOverlayShown" class="overlay">
        <ThreeColsView>
          <template v-slot:sidebar>
            <Sidebar>
              <VerticalButton button-text="スライドショー終了" @click="$router.back()"></VerticalButton>
              <VerticalButton button-text="このページを編集" not-primary @click="editPage"></VerticalButton>
            </Sidebar>
          </template>
        </ThreeColsView>
      </div>
    </transition>
  </template>
</div>
</template>

<style scoped>
.slider {
  background-color: #242424;
}
.overlay {
  position: absolute;
  background-color: white;
  opacity: 0.95;
}
.overlay-enter-active, .overlay-leave-active {
  transition: opacity 0.5s ease;
  opacity: 0.95;
}
.overlay-enter, .overlay-leave-to {
  opacity: 0;
}
</style>

<script>
import Preview from '@/components/preview.vue'
import Sidebar from '@/components/sidebar.vue'

import "keen-slider/keen-slider.min.css"
import KeenSlider from 'keen-slider'

export default {
  components: {
    Preview, Sidebar
  },
  async mounted() {
    await this.$db.getPages(parseInt(this.albumId)).then(pages => {
      this.pages = pages
      if(this.pages == null || this.pages.length === 0) {
        this.isPagesEmpty = true
      }
    })
    this.slider = new KeenSlider(this.$refs.slider, {
      spacing: 1,
      slidesPerView: 1,
      rtl: true,
      rubberband: false,
      duration: 1000,
    })
  },
  beforeDestroy() {
    if (this.slider) this.slider.destroy()
  },
  props: {
    albumId: String
  },
  data() {
    return {
      isOverlayShown: false,
      slider: null,
      isPagesEmpty: false,
      pages: []
    }
  },
  methods: {
    async editPage() {
      const pageIndex = this.slider.details().absoluteSlide
      const page = this.pages[pageIndex]
      this.$db.putTemporalPage(page)
      this.$router.push(`/album/${page.albumId}/page/${page.pageId}/`)
    }
  }
}
</script>