<template>
  <cinema>
    <transition appear name="splash" mode="out-in">
      <div class="app-name-box" @transitionend="moveToDelayed">
        <p class="vertical-text lined">タテガキ</p>
      </div>
    </transition>
  </cinema>
</template>

<style scoped>
.app-name-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease;
}
.splash-enter, .splash-leave-to {
  opacity: 1;
}
.splash-enter-active, .splash-leave-active {
  opacity: 0;
}
.lined {
  background-size: 0.1em 100%;
  background-repeat: no-repeat;
  background-position-x: right;
  background: linear-gradient(180deg, #2193b0,#76e3fc 60%, white);
} 
 </style>>

<script>
import Cinema from '@/components/cinema.vue'

export default {
  components: {
    Cinema
  },
  methods: {
    moveToDelayed() {
      setTimeout(() => {
        this.$router.push('/album/list')
      }, 2000);
    }
  }
}
</script>