<template>
<ThreeColsView :cols="3">
  <template v-slot:main-left>
    <div ref="preview-container" class="preview-container">
      <Cinema class="cinema" :style="{width: `${windowWidth/2}px`, transform: `scale(${scale})`}">
        <TextView :text="page.textPlane" :style="{fontSize: fontSize}"></TextView>
      </Cinema>
    </div>
  </template>
  <template v-slot:main-right>
    <div class="editor-grid">
      <div class="textarea-box">
        <textarea class="textarea noto-serif" v-model="page.textPlane"></textarea>
      </div>
      <div class="fontsize-editor-box">
        <button class="fontsize-button-left" @click="page.fontSizeNum++">+</button>
        <input type="text" class="fontsize-input" v-model="page.fontSizeNum" />
        <button class="fontsize-button-right" @click="page.fontSizeNum - 1 > 0 ? page.fontSizeNum-- : null">-</button>
        <div>px</div>
        <!-- <div>単位:</div>
        <select class="fontsize-unit" v-model="page.fontSizeUnit">
          <option value="em">em</option>
          <option value="px">px</option>
          <option value="vh">vh</option>
        </select> -->
      </div>
    </div>
  </template>
  <template v-slot:sidebar>
    <VerticalButton buttonText="キャンセル" @click="$router.back()"></VerticalButton>
    <VerticalButton buttonText="保存" not-primary @click="save"></VerticalButton>
  </template>
</ThreeColsView>
</template>

<style scoped>
.preview-container {
  display: flex;
}
.cinema {
  transform-origin: left;
}
.editor-grid {
  display: grid;
  grid-template-rows: 85vh 15vh;
  grid-template-columns: 100%;
}
.textarea-box {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
}
.textarea {
  margin: 3vh 0 ;
  flex-grow: 1;
  overflow: scroll;
  resize: none;
  border-radius: 3px;
  border-color: #dddddd;
}
.textarea:focus {
  outline: none;
}
.fontsize-editor-box {
  grid-row: 2/3;
  grid-column: 1/2;
}
.fontsize-editor-box button,
.fontsize-editor-box input,
.fontsize-editor-box select {
  height: 11vh;
  background-color: white;
  border-width: 1px;
  border-color: #aaaaaa;
  border-style: solid;
  box-sizing: border-box;
  color: #aaaaaa;
  text-align: center;
}
.fontsize-input {
  padding-top: 0;
}
.fontsize-editor-box div {
  display: inline;
  margin-left: 10px;
}
.fontsize-button-left {
  width: 30px;
  border-radius: 3px 0px 0px 3px;
}
.fontsize-button-right {
  width: 30px;
  border-radius: 0px 3px 3px 0px;
}
.fontsize-editor-box input {
  width: 60px;
  border-radius: 0px;
}
.fontsize-editor-box input:focus {
  outline: none;
}
.fontsize-unit {
  width: 50px;
  border-radius: 3px 3px 3px 3px;
}

</style>

<script>
import Page from '@/class/Page.js'

import Cinema from '@/components/cinema.vue'
import TextView from '@/components/text-view.vue'

export default {
  async mounted() {
    this.page = await this.$db.getTemporalPage() ?? new Page()
    if(this.page?.fontSizeNum == null || this.page?.fontSizeUnit === 'em') {
      const fontSize = window.getComputedStyle(this.$el).fontSize.toString().replace(/[a-z]/g, '')
      this.$set(this.page, 'fontSizeNum', Math.floor(parseInt(fontSize)))
      this.$set(this.page, 'fontSizeUnit', 'px')
    }
    this.windowWidth = window.innerWidth
    this.previewWidth = this.$refs['preview-container'].clientWidth
    this.scale = this.previewWidth * 2 / window.innerWidth
    console.log(`scale: ${this.scale}`);
  },
  components: {
    Cinema,
    TextView,
  },
  data() {
    return {
      page: new Page(),
      windowWidth: null,
      previewHeight: null,
      previewWidth: null,
      scale: 1,
    }
  },
  computed: {
    fontSize() { return `${this.page?.fontSizeNum ?? 1}${this.page?.fontSizeUnit ?? "em"}` },
  },
  methods: {
    async save() {
      await this.$db.putTemporalPage(this.page)
      this.$router.push(this.$router.currentRoute.path.replace('/text', ''))
    }
  }
}
</script>