<template>
  <div class="cover-container" no-body :style="{backgroundImage: `url(${backgroundImage})`}" @click="$emit('click')">
    <div class="cover-box" :style="`background-color: rgba(255,255,255,${album.backgroundOpacity});`">
      <div class="cover-content vertical-text" :style="{fontSize: fontSize}" v-html="toVTextHtml(album.title)"></div>
    </div>
  </div>
</template>

<style scoped>
.cover-container {
  height: 65vh;
  width: 35vw;
  border-radius: 4px;
  border: 1px solid #dddddd;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.cover-box {
  height: 100%;
  display: flex;
  justify-content: center;
}
.cover-content {
  height: 100%;
}
</style>

<script>
export default {
  beforeUnmount() {
    URL.revokeObjectURL(this.backgroundImage)
  },
  props: {
    album: Object,
  },
  computed: {
    backgroundImage: function() {
      let result
      if(this.album?.backgroundImage == null) {
        result = ""
      } else if(typeof this.album.backgroundImage === 'string') {
        result = this.album.backgroundImage
      } else {
        result = URL.createObjectURL(this.album.backgroundImage)
        this.$store.commit('pushObjectURL', result)
      }
      return result
    },
    fontSize: function() {
      return this.album?.title === '+'
        ? '1.6em'
        : '1em'
    }
  }
}
</script>