<template>
  <div class="letter-box">
    <div class="screen">
      <slot></slot>
    </div>
  </div>
</template>

<style scoped>
.letter-box {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 88% 1fr;
  grid-template-columns: 1fr;
  background-color: rgb(36, 36, 36);
}
.screen {
  width: 100%;
  height: 100%;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: white;
  display: flex;
}
</style>