<template>
<div class="grand-container">
  <div class="chooser-button vertical-text" :style="{fontSize: fontSize}" @click="sourceSelection" v-html="toVTextHtml(placeholder)">
    <input ref="chooser-input" type="file" @change="choosedFromMyPictures"/>
  </div>
  <Modal v-if="isWrongFileFormat" fullscreen @click="isWrongFileFormat = false">
    <template v-slot:fullscreen>
      <div class="vertical-text noto-serif">※エラー<br>&nbsp;利用可能なファイル形式は<br>&nbsp;&nbsp;PNG、JPEG、GIFのみです。</div>
    </template>
  </Modal>
  <template v-if="albumMode">
    <Modal v-if="isSourceSelectionShown" @click="isSourceSelectionShown = false">
      <template v-slot:right>
        <div class="vertical-text noto-serif">アルバムの背景画像を<br>&nbsp;どこから選びますか？</div>
      </template>
      <template v-slot:center>
        <VerticalButton buttonText="背景用の画像集から選ぶ" @click="fromPresets"></VerticalButton>
      </template>
      <template v-slot:left>
        <VerticalButton buttonText="自分の写真から選ぶ" @click="fromMyPictures"></VerticalButton>
      </template>
    </Modal>
    <Modal fullscreen v-show="isChoosingFromPresets">
      <template v-slot:fullscreen>
        <ThreeColsView :cols="2">
          <template v-slot:main>
            <div class="tile-container">
              <template v-for="(preset, index) in presets">
                <div :key="`preset-${index+1}`" class="tile" @click="choosedFromPresets(preset)">
                  <img :src="preset" />
                </div>
              </template>
            </div>
          </template>
          <template v-slot:sidebar>
            <VerticalButton buttonText="戻る" @click="isChoosingFromPresets = false"></VerticalButton>
          </template>
        </ThreeColsView>
      </template>
    </Modal>
  </template>
</div>  
</template>

<style scoped>
.grand-container {
  width: 100%;
  height: 100%;
}
.chooser-button {
  width: 100%;
  height: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  color: #CCCCCC;
  display: flex;
  align-items:center;
  justify-content: center;
  box-sizing: border-box;
}
.chooser-button input {
  display: none;
}
.tile-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  direction: rtl;
  justify-content: space-evenly;
  column-gap: calc(20vh/3);
}
.tile {
  max-height: 40vh;
  max-width: 40vh;
  flex: 1 1;
}
.tile img {
  height: 40vh;
  width: 40vh;
  object-fit: cover;
}
</style>

<script>
import sidebar from './sidebar.vue'
export default {
  components: { sidebar },
  created() {
    if(this.albumMode) {
      const context = require.context('@/assets/album-bg-presets', false, /\.\/.*\.jpg$/)
      context.keys().forEach(path => {
        this.presets.push(context(path))
      })
    }

    if(this.placeholder === '+') {
      this.fontSize = '2em'
    }
  },
  mounted() {
    this.$on('replace', this.fromMyPictures)
  },
  props: {
    placeholder: {
      type: String,
      default: '+'
    },
    albumMode: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      fontSize: '1em',
      isSourceSelectionShown: false,
      isChoosingFromPresets: false,
      isWrongFileFormat: false,
      presets: []
    }
  },
  methods: {
    sourceSelection() {
      if(this.albumMode) {
        this.isSourceSelectionShown = true
      } else {
        this.fromMyPictures()
      }
    },
    fromMyPictures() {
      this.$refs['chooser-input'].click()
    },
    fromPresets() {
      this.isSourceSelectionShown = false
      this.isChoosingFromPresets = true
    },
    choosedFromPresets(preset) {
      this.$emit('choosed', preset)
      this.isChoosingFromPresets = false
    },
    choosedFromMyPictures(event) {
      const file = event.target.files[0]
      let result

      if( ! file?.type.match(/jp?eg|png|gif/)) {
        result = null
        this.isWrongFileFormat = true
      } else {
        result = event.target.files[0]
      }
      this.$emit('choosed', result)
      this.isSourceSelectionShown = false
    },
  }
}
</script>