<template>
<transition appear name="modal-container" mode="out-in">
  <div class="modal" @click="$emit('click')">
    <template v-if="fullscreen">
      <transition appear name="modal-container" mode="out-in">
        <div class="fullscreen">
          <slot name="fullscreen"></slot>
        </div>
      </transition>
    </template>
    <template v-else>
      <transition appear name="modal-container" mode="out-in">
        <div></div>
      </transition>
      <transition appear name="modal-container" mode="out-in">
        <div>
          <slot name="left"></slot>
        </div>
      </transition>
      <transition appear name="modal-container" mode="out-in">
        <div>
          <slot name="center"></slot>
        </div>
      </transition>
      <transition appear name="modal-container" mode="out-in">
        <div>
          <slot name="right"></slot>
        </div>
      </transition>
      <transition appear name="modal-container" mode="out-in">
        <div></div>
      </transition>
    </template>
  </div>
</transition>
</template>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  left: var(--safe-area-inset-left);
  width: calc(100vw - var(--safe-area-inset-right) - var(--safe-area-inset-left));
  height: 100vh;
  z-index: 9999;
  margin: 0;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.98);
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: minmax(10px, 15%) repeat(3, minmax(10%, 40%)) minmax(10px, 15%); */
  transition: opacity 1.5s ease;
}
.modal div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.modal-container-enter, .modal-container-leave-to {
  /* background-color: rgba(200, 200, 200, 0); */
  opacity: 0;
}
/* .modal >>> * {
  transition: opacity 1.5s ease;
}
.modal-container-enter >>> *, .modal-container-leave-to >>> *{
  opacity: 0;
} */
.fullscreen {
  grid-column: 1/-1;
}
</style>

<script>
export default {
  props: {
    fullscreen: {
      type: Boolean,
      default: false
    }
  }
}
</script>