<template>
<cinema class="fit-screen">
  <div class="contents-grid" :class="{reversed: page.reversed != null ? page.reversed : false}">
    <div class="img-box" @click="$emit('click-image')">
      <img v-if="imageUrl" :src="imageUrl">
      <div v-else-if="mode !== 'slideshow'" class="placeholder-box">
        <div class="vertical-text noto-serif" v-html="toVTextHtml('<タップして写真を選択>')"></div>
      </div>
    </div>
    <div class="textview-box" @click="$emit('click-text')">
      <TextView v-if="page.textPlane" :text="page.textPlane" :style="{fontSize: fontSize}"></TextView>
      <div v-else-if="mode !== 'slideshow'" class="placeholder-box">
        <div class="vertical-text noto-serif" v-html="toVTextHtml('<タップして文章を記入>')"></div>
      </div>
    </div>
  </div>    
</cinema>
</template>

<style scoped>
.fit-screen {
  height: 100vh;
  width: calc(100vw - var(--safe-area-inset-right) - var(--safe-area-inset-left));
}
.reversed .img-box {
  grid-row: 1/2 !important;
  grid-column: 2/3 !important;
}
.reversed .textview-box {
  grid-row: 1/2 !important;
  grid-column: 1/2 !important;
}
.placeholder-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px inset;
}
.contents-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}
.img-box {
  width: 100%;
  height: 100%;
  padding: 0;
  grid-row: 1/2;
  grid-column: 1/2;
}
.img-box img {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
img[src=""] {
  content:url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
}
.textview-box {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
}
</style>

<script>
import Cinema from '@/components/cinema.vue'
import TextView from '@/components/text-view.vue'

export default {
  created() {
    if(this.page.imageArrayBuffer == null)
      return
    try {
      const blob = new Blob([this.page.imageArrayBuffer], {type: this.page.imageType})
      this.imageUrl = URL.createObjectURL(blob)
      this.$store.commit('pushObjectURL', this.imageUrl)
    } catch (error) {
      console.log(`Error: ArrayBuffer to URL conversion failed: ${JSON.stringify(error)}`)
    }
  },
  beforeRouteLeave(to, from, next) {
    URL.revokeObjectURL(this.imageUrl)
  },
  components: {
    Cinema,
    TextView
  },
  props: {
    page: {
      type: Object,
      required: true,
    },
    mode: {
      type: String,
      default: 'preview',
      validator: val => ['slideshow', 'preview'].includes(val)
    }
  },
  data() {
    return {
      imageUrl: "",
    }
  },
  computed: {
    fontSize() { return `${this.page.fontSizeNum}${this.page.fontSizeUnit}` },
  }
}
</script>