<template>
<Modal v-if="value">
  <template v-slot:right>
    <div class="vertical-text noto-serif message">
      ※無料プランでは、アルバムは{{$store.getters.limit.maxAlbums}}つ、
      <br>&nbsp;ページは各{{$store.getters.limit.maxPages}}ページまでのみ
      <br>&nbsp;&nbsp;作成可能です。
      <br>
      <br>&nbsp;&nbsp;<span v-html="toVTextHtml('有料プラン(月額100円)に')"></span>
      <br>&nbsp;&nbsp;&nbsp;申し込みますか？
    </div>
  </template>
  <template v-slot:center>
    <VerticalButton  button-text="はい"></VerticalButton>
  </template>
  <template v-slot:left>
    <VerticalButton  button-text="いいえ" @click="$emit('input', ! value)"></VerticalButton>
  </template>
</Modal>
</template>

<style>
.message {
  height: 100%;
  margin-top: 10%;
  margin-right: -0.3em;
}
</style>

<script>
export default {
  props: {
    value:{
      type: Boolean,
      default: false
    }
  }
}
</script>