<template>
<div class="button-container">
  <div class="button-box">
    <slot></slot>
  </div>
</div>
</template>

<style scoped>
.button-container {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>