<template>
  <div ref="textView" class="vertical-text noto-serif text-view" :style="calculatedMeasures" v-html="toVTextHtml(text)"></div>
</template>

<style scoped>
.text-view {
  width: 100%;
  word-break: break-all;
}
</style>

<script>
export default {
  mounted() {
    const viewRect = this.$refs.textView.getBoundingClientRect()
    const padding = `${viewRect.height / window.innerHeight * 15}px`
    this.calculatedMeasures.padding = padding
  },
  props: {
    text: String
  },
  data() {
    return {
      calculatedMeasures: {
        fontSize: '0.9em',
        padding: '0'
      }
    }
  }
}
</script>