<template>
<div class="container p-0 m-0">
  <template v-if="cols === 2">
    <div class="main">
      <slot name="main"></slot>
    </div>
  </template>
  <template v-else-if="cols === 3">
    <div class="main-left">
      <slot name="main-left"></slot>
    </div>
    <div class="main-right">
      <slot name="main-right"></slot>
    </div>
  </template>
  <div class="sidebar">
    <Sidebar>
      <slot name="sidebar"></slot>
    </Sidebar>
  </div>
</div>
</template>

<style scoped>
.container {
  height: 100vh;
  width: calc(100vw - var(--safe-area-inset-right) - var(--safe-area-inset-left));
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 1fr 1fr max-content;
}
.main {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
.main-left {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.main-right {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.sidebar {
  grid-row: 1 / 2;
  grid-column: -2 / -1;
}
</style>

<script>
import Sidebar from '@/components/sidebar.vue'

export default {
  components: {
    Sidebar
  },
  props: {
    cols: {
      type: Number,
      default: 2,
      validator: value => 2 <= value && value <= 3
    }
  }
}
</script>