<template>
  <div class="noto-serif vertical-text text-button m-0 fancy-overline" :class="{'not-primary': notPrimary}" v-html="toVTextHtml(buttonText)" @click="$emit('click')"></div>
</template>

<style scoped>
.text-button {
  position: relative;
  min-width: 1.5em !important;
  max-width: 1.5em !important;
  text-align: center;
  justify-self: center;
}
    
.fancy-overline {
  background-image: linear-gradient(180deg, #2193b0,#76e3fc 60%, white);
  background-repeat: no-repeat;
  background-size: 0.15em 2em;
  background-position-x: right;
  transition: background-size 0.5s ease-in-out, background-image 0.5s ease-in-out;
}
.not-primary {
  margin-top: 10px;
}
</style>

<script>
export default {
  props: {
    buttonText: String,
    notPrimary: Boolean
  }
}
</script>