@font-face {
  font-family: "NotoSerifJPLight";
  src: url('../fonts/NotoSerifJP-Light.woff') format("woff");
}

html, body {
  height: 100%;
  /* width: 100%; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  font-family: "NotoSerifJPLight";
  font-size: 5vh;
  justify-content: center;
  align-items: center;
}
html {
  padding-top: var(--safe-area-inset-top);
  padding-left: var(--safe-area-inset-left);
  padding-right: var(--safe-area-inset-right);
  padding-bottom: var(--safe-area-inset-bottom);
  background-color: black;
  transition: background-color 1s ease;
}
body {
  background-color: white;
}
.noto-sans {
  font-family: "NotoSansJPLight";
}
.noto-serif {
  font-family: "NotoSerifJPLight"
}

.rotated {
  display: inline-block;
  transform: rotate(90deg);
}
.combined {
  text-combine-upright: all;
  -webkit-text-combine: horizontal;
}
.open-bracket {
  transform: rotate(90deg) translateX(0.1em) translateY(-0.05em);
}
.close-bracket {
  transform: rotate(90deg) translateX(-0.1em) translateY(-0.05em);
}

.vertical-text {
  /* width: 100%;
  max-width: 100%;
  box-sizing: border-box; */
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* vertical-align: middle; */
  word-wrap: break-word;
  line-height: 1.5em;
  overflow: hidden;
  user-select: none;
}
.horizontal-scroll {
  height: 100vh;
  direction: rtl;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
}
.horizontal-scroll::-webkit-scrollbar {
    display:none;
}