<template>
  <transition name="fade" appear mode="out-in">
    <router-view></router-view>
  </transition>
</template>

<style scoped>
.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: opacity 0.9s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>

<script>
export default {
  async created() {
    try {
      this.$purchases.setDebugLogsEnabled(true)
      this.$purchases.setup("appl_WuYHtNSUjiCOuBYKretSrlFcXVK")
      this.$purchases.getPurchaserInfo().then(purchaserInfo => {
        const isActive = !! purchaserInfo.entitlements.active?.premium_purchased?.isActive
        this.$store.commit("changeEntitlementStatus", isActive)
        console.log(`Entitled: ${isActive}`);
      })
    } catch (e) {
      console.log(e);
    }
  }
}
</script>